<!DOCTYPE html>
<html>
<head>
	<title>Verify Otp</title>
	<style type="text/css">
		.disable {
			pointer-events: none;
			background: grey;
		}
	</style>
</head>
<body>
<form method="POST" action="/verify">
	<input type="text" id="email" name="email" value="<%= email %>" class="disable">
	<input type="text" name="otp">
	<input type="Submit">
</form>
<button onclick="resend()">Resend</button>
</body>
<script type="text/javascript">
function resend()
{
	location.reload();
}	
</script>
</html>